* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.counters {
  /* background-color: aqua; */
  padding-left: 50px;
}

.badge {
  font-size: 15px !important;
}

.col-1 {
  max-width: 4% !important;
}